a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  font-family: Karla;
  background-image: url("./assets/images/B.svg");
  min-width: 320px;
  min-height: 100vh;
}
/* .App-container {
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.App-container {
  padding: 20px;
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* Solid border */
div.solid {
  border: 0.79px solid #dbdef0;
}
button {
  border-radius: 8px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  padding: 4px 12px;
  vertical-align: middle;
  width: auto;
  font-size: 14px;
}

.question-container {
  margin-bottom: 15px;
}
.question-title {
  font-family: "Karla";
  display: block;
  color: #293264;
  margin-bottom: 14px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.answers-container {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  background-color: transparent;
  margin-bottom: 16px;
}
.answers-container > button {
  font-family: "Inter";
  border: 0.8px solid #4d5b9e;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 20px;
}
.answers-container > button:hover {
  border: 0.8px solid #d6dbf5;
  transition: background 0.2s ease-out 0s;
  background-color: #d6dbf5;
  color: #293264;
}
.answers-container > button.active {
  border: 0.8px solid #d6dbf5;
  color: #293264;
  transition: background 0.2s ease-out 0s;
  background-color: #d6dbf5;
}
.revealed .answers-container > button {
  opacity: 0.6;
}
.answers-container > button.correct {
  border: 0.8px solid #94d7a2;
  color: #293264;
  background-color: #94d7a2;
  font-weight: 600;
  opacity: 1;
}
.answers-container > button.incorrect {
  border: 0.8px solid #f8bcbc;
  color: #293264;
  background-color: #f8bcbc;
}

.check-answers {
  background: #4d5b9e;
  color: #f5f7fb;
  border-radius: 10px;
  padding: 15px 22px;
  border: none;
  margin: 0 auto;
  opacity: 1;
}
.revealed > .button-container {
  margin: unset;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.button-container::after {
  content: "";
  flex: 1;
}

.score {
  color: #293264;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15.5px;
  display: flex;
  justify-content: center;
  flex: 1;
}
