a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  font-family: Karla;
  background-image: url("./assets/images/B.svg");
  min-width: 320px;
  min-height: 100vh;
}
div#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-container {
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Solid border */
div.solid {
  border: 0.79px solid #dbdef0;
}
button {
  border-radius: 8px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  padding: 4px 12px;
  vertical-align: middle;
  width: auto;
  font-size: 14px;
}

.question-container {
  margin-bottom: 15px;
}
.question-title {
  font-family: "Karla";
  display: block;
  color: #293264;
  margin-bottom: 14px;
  max-width: 80%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.answers-container {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  background-color: transparent;
  margin-bottom: 16px;
}
.answers-container > button {
  font-family: "Inter";
  border: 0.8px solid #4d5b9e;
  border-radius: 8px;
  text-align: center;
  font-size: 14.5px;
  font-weight: 400;
  padding: 4px 20px;
}
.answers-container > button:hover:enabled {
  border: 0.8px solid #d6dbf5;
  transition: background 0.2s ease-out 0s;
  background-color: #d6dbf5;
  color: #293264;
}
.answers-container > button.active {
  border: 0.8px solid #d6dbf5;
  color: #293264;
  transition: background 0.2s ease-out 0s;
  background-color: #d6dbf5;
}
.revealed .answers-container > button {
  opacity: 0.6;
  cursor: not-allowed;
  color: #293264;
}
.check-answers:disabled {
  cursor: not-allowed;
  background-color: #4d5b9eb0;
}
.answers-container > button.correct {
  border: 0.8px solid #94d7a2;
  color: #293264;
  background-color: #94d7a2;
  font-weight: 600;
  opacity: 1;
}
.answers-container > button.incorrect {
  border: 0.8px solid #f8bcbc;
  color: #293264;
  background-color: #f8bcbc;
}

.check-answers,
.landing-page button {
  background: #4d5b9e;
  color: #f5f7fb;
  border-radius: 10px;
  padding: 15px 22px;
  border: none;
  opacity: 1;
  transition: background 0.2s ease-out 0s;
}
.revealed > .button-container {
  margin: unset;
}
.button-container {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-between;
  margin: 0 auto;
}

.score {
  color: #293264;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15.5px;
}
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "Inter";
}
.landing-page h3 {
  font-family: "Karla";
}
.landing-page h1 {
  margin: 0;
  font-family: "Karla";
  font-weight: 700;
}
.landing-page label {
  position: relative;
  display: inline-block;
}
.landing-page label:before {
  content: "";
  height: 31px;
  position: absolute;
  right: 7px;
  top: 3px;
  width: 22px;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  pointer-events: none;
  display: block;
}
.landing-page label:after {
  content: " ";
  position: absolute;
  right: 15px;
  top: 46%;
  margin-top: -3px;
  z-index: 2;
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.9px 4px 0 4px;
  border-color: #aaa transparent transparent transparent;
  pointer-events: none;
}
.landing-page label select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 30px 0 10px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  line-height: 36px;
  height: 36px;
  background: #fff;
  margin: 0 5px 5px 0;
}
.landing-page select::-ms-expand {
  display: none;
}
.change-settings {
  cursor: pointer;
}
.change-settings:hover {
  color: #4d5b9e;
}
footer span {
  text-align: center;
  color: #57606a;
}
footer {
  margin-top: 20px;
}
